.nested-fields
  - @error = f.object.errors.any? && f.object.errors['file'].any? ? f.object.errors['file'] : ''
  %div{:class => sprintf('form-group %s', !@error.empty? ? 'has-error' : '')}
    =f.label :file
    .input-group.input-icon.right
      - if !@error.empty?
        %i.fa.fa-exclamation.tooltips{:data=>{:original=>{:title=>@error.join("\n")},:container=>"body"}}
      =f.file_field :file
      = link_to_remove_association f, :class => 'btn btn-danger btn-sm' do
        %i.fa.fa-minus
