%h1{:style => 'margin-left: 10px;font-size: 26px; margin-bottom: 15px;margin-top: 0;color: #666;'}= 'Hotspots'
.row.mix-grid.hotspots
  - for @category in Hotspot.categories
    .col-md-3.col-sm-4.mix.mix_all.category_1{:style => 'margin: 10px; position: relative;'}
      = link_to list_hotspots_path(:category => @category) do
        %span{:style => 'position: absolute; color: white; font-size: 24px; left: 30px; top: 10px; text-shadow: 1px 1px 2px black;'}= @category.capitalize
        = image_tag 'categories/' + @category + '.png', {:width => 259}