.portlet.box.blue-hoki
  .portlet-title
    .caption= @hotspot.name
    .actions
      %a.btn.btn-default.btn-sm{href:edit_hotspot_path(@hotspot)}
        %i.fa.fa-pencil
        Edit
      %a.btn.btn-default.btn-sm{href:destroy_hotspot_path(@hotspot)}
        %i.fa.fa-remove
        Delete
      %a.btn.btn-default.btn-sm{href:list_hotspots_path(@hotspot.category)}
        %i.fa.fa-caret-left
        Back
.col-md-12.col-sm-4
  .col-md-4
    -if @hotspot.is_primary
      %span{style:'position: absolute;color:white;right:40px;top:20px;text-shadow:1px 1px 2px black;'}
        %i.fa.fa-check{style:'font-size: 40px;'}
    = image_tag @hotspot.hotspot_images[0].file.url(:medium).gsub(/^\w+/, '') if @hotspot.hotspot_images.any?
    %p{style:'width: 275px;margin: 0;height: 75px;'}
      = @hotspot.tagline
  - if (count = @hotspot.hotspot_images.count) > 1
    - @hotspot.hotspot_images.slice(1,count).each do |image|
      = image_tag image.file.url(:small).gsub(/^\w+/, ''), class: 'col-md-1'
  %p.col-md-8=@hotspot.address
  %p.col-md-8=@hotspot.phone
  %a.col-md-8{href:@hotspot.site}
    ='url'
  %p.col-md-8=@hotspot.description