%h1='Show ' + @hotspot.category.capitalize
.portlet.box.blue-hoki
  .portlet-title
    .caption= @hotspot.name
    .actions
      %a.btn.btn-default.btn-sm{href:hotspot_edit_path(@hotspot)}
        %i.fa.fa-pencil
        Edit
      %a.btn.btn-default.btn-sm{href:hotspot_destroy_path(@hotspot)}
        %i.fa.fa-remove
        Delete
      %a.btn.btn-default.btn-sm{href:hotspots_list_path(@hotspot.category)}
        %i.fa.fa-caret-left
        Back
.col-md-12.col-sm-4
  = image_tag @hotspot.image.url(:medium).gsub(/^\w+/, ''), class: 'col-md-3'
  %p.col-md-9=@hotspot.description